<h2 class="title" style="font-size: 36px; font-weight: 700;"><%= @todo_list.title %></h2>
<div class="description"><%= @todo_list.description %></div>

<div id="todo_items_container">
  <h3><%= render @todo_list.todo_items %></h3>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Delete', todo_list_path(@todo_list), method: :delete %> |
<%= link_to 'Back', todo_lists_path %>
