<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', 'bootstrap.min', 'jumbotron-narrow', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag 'bootstrap.min', 'ie-emulation-modes-warning', 'ie10-viewport-bug-workaround'  => true %>
</body>
</html>
